body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

:root{
	--clr-black:#1c1c1c;
	--clr-gray: #ececec;
	--clr-white: #f7f7f7;

	--Type-ver:#a2d52b;
	--Type-normal:#1cae52;
	--Type-fire:#32158a;
	--Type-water:#707da8;
	--Type-grass:#e28229;
	--Type-electric:#c78132;
	--Type-ice:#27aac4;
	--Type-fighting:#c559af;
	--Type-poison:#b6ade5;
	--Type-ground:#417548;
	--Type-flying:#70a874;
	--Type-psychic:#e6e6db;
	--Type-bug:#c2821c;
	--Type-rock:#a74815;
	--Type-ghost:#cb4e0a;
	--Type-dark:#f1f110;
	--Type-dragon:#e9e99d;
	--Type-steel:#eeee41;
	--Type-fairy:#205685;
}

ul {
	list-style-type: none;
}
button{
	background-color: transparent;
	border: 0;
	border-radius: 0;
}



header{
	padding-block: 1rem;
	box-shadow: 0 0 -1rem rgba(0, 0, 0,.5 black);
	
}
.nav{
	display:flex;
	flex-direction: column;
	gap:1rem;
	align-items: flex-start;
	padding-inline: 2rem;
	max-width: 1000px;
	margin: 0 auto;
}
.nav-list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: .5rem;
}
.btn-hedear{
	background-color: var(--clr-gray);
	padding: .5rem;
	border-radius: 100vmax;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
	box-shadow: 0 0 1rem rgba(0, 0, 0,.25 black);
	transition: .2s;
}

.btn-hedear:hover{
transform: scale(1.1);
box-shadow: 0 0 2rem rgba(black, 0 ,0,.25);
}
main{
	padding: 2rem;
	max-width: 1000px;
	margin: 0 auto;
}
.pokemon-todos{
	display: grid;
	grid-template-columns: 1fr ;
	gap: 1rem;
}
@media screen and (min-width:470px) {
	.pokemon-todos{
		grid-template-columns: 1fr 1fr ;
	}
	
}
div {
	border-radius: 1rem;
	background-color: var(--clr-gray);
	box-shadow: 0 0 3rem -1rem rgba(0, 0,.25, black);
	padding-block: 1rem;
	text-transform: uppercase;
	position: relative;
	isolation: isolate;
	overflow: hidden;
}

.pokemon-id-back{
	position: absolute;
	top: 1rem;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	font-size: 6rem;
	font-weight: 800;
	z-index: -1;
	color: var(--clr-gray);
}
.pokemon-imagen{
	padding-inline: 1rem;
	display: flex;
	justify-content: center;
}
.pokemon-imagen img {
	width: 100%;
	max-width: 6rem;
}

.pokemon-info{
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding-inline: 1rem;
	align-items: center;
	text-align: center;
}

.nombre-contenedor{
	display: flex;
	align-items: center;
	column-gap: .5rem;
	flex-wrap: wrap;
	justify-content: center;
}
.pokemon-id{
	background-color: red;
	padding: .25rem .5rem;
	border-radius: 100vmax;
	font-size: .75rem;
	font-weight: 500;
}
.pokemon-nombre{
	font-family: 1.4rem;
}
.pokemon-tipos{
	display: flex;
	gap: .5rem;
	font-size: .75rem;
	font-weight: 500;
	flex-wrap: wrap;
	justify-content: center;
}

.tipo{
	padding: .25rem .5rem;
	border-radius: 100vmax;
}

.pokemon-stats{
	display: flex;
	gap: 1rem;
	font-size: .85rem;
}
.stats{
	background-color: var(--clr-gray);
	padding: .25rem .5rem;
	border-radius: 100vmax;
}
.ver {
	background-color: var(--Type-ver);
	color: var(--clr-black)
}
.normal {
	background-color: var(--Type-normal);
	color: var(--clr-black)
}
.fire {
	background-color: var(--Type-fire);
	color: var(--clr-black)
}
.water {
	background-color: var(--Type-water);
	color: var(--clr-black)
}
.grass {
	background-color: var(--Type-grass);
	color: var(--clr-black)
}
.electric {
	background-color: var(--Type-electric);
	color: var(--clr-black)
}
.ice {
	background-color: var(--Type-ice);
	color: var(--clr-black)
}
.fighting {
	background-color: var(--Type-fighting);
	color: var(--clr-black)
}
.poison{
	background-color: var(--Type-poison);
	color: var(--clr-black)
}
.ground {
	background-color: var(--Type-ground);
	color: var(--clr-black)
}
.flying {
	background-color: var(--Type-flying);
	color: var(--clr-black)
} 
.psychic {
	background-color: var(--Type-psychic);
	color: var(--clr-black)
}
.bug {
	background-color: var(--Type-bug);
	color: var(--clr-black)
}
.rock {
	background-color: var(--Type-rock);
	color: var(--clr-black)
}
.ghost {
	background-color: var(--Type-ghost);
	color: var(--clr-black)
}
.dark {
	background-color: var(--Type-dark);
	color: var(--clr-black)
}
.dragon {
	background-color: var(--Type-dragon);
	color: var(--clr-black)
}
.steel {
	background-color: var(--Type-steel);
	color: var(--clr-black)
}
.fairy {
	background-color: var(--Type-fairy);
	color: var(--clr-black)
}