ul{
    list-style-type: none;
}
button {
    border: 0;
}
body {
    background: linear-gradient(to right, #DA70D6, #FFFF00);
    margin: 0;
}
header {
    padding-block: 1rem;
    background-image:url(./imagenes/logo.jpg) ;
    background-size: 12%;
    align-content: center;
}
#logo{
  width: 20%;
  background-image: url(./imagenes/logo.jpg);
}
:root {
    --clr-black: #1C1C1C;
    --clr-gray: #FFC300;
    --clr-white: #F7F7F7;
    --Type-ver: #D2B4DE;
    --Type-normal: #98FB98;
    --Type-fire: #FF0000;
    --Type-water: #00FFFF;
    --Type-grass: #688E23;
    --Type-electric: #C78132;
    --Type-ice: #48D1CC;
    --Type-fighting: #C559AF;
    --Type-poison: #B6ADE5;
    --Type-ground: #DAA520;
    --Type-flying: #6495ED;
    --Type-psychic: #DCDCDC;
    --Type-bug: #BC8F8F;
    --Type-rock: #C0C0C0;
    --Type-ghost: #F0FFF0;
    --Type-dark: #A9A9A9;
    --Type-dragon: #FFA500;
    --Type-steel: #E0FFFF;
    --Type-fairy: #7CFC00;
}
.nav { /* botones de tipo pokemon*/
    display: flex;
    padding-inline: 1rem;
    max-width: 1000px;
}
.nav-list { /* botones de tipo pokemon*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding-block: 4ram;
    align-content: center;
}
.btn-header { /* diseño de los botones de tipo pokemon*/
    padding: .8rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: .2s;
    align-content: center;
    border: 5px solid darkolivegreen;
}
.btn-hedear:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(black, 0 ,0,.25);
    }
    #data {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #FFE4C4;
        background: -webkit-linear-gradient(to right, #87CEFA, #90EE90);
        background: linear-gradient(to right, #DA70D6, #FFFF00);
        flex-wrap: wrap;
        width: 100%;
    }
div {
    border-radius: 1rem;
    background-color: #FFE4C4;
    padding-block: 1rem;
    text-transform: uppercase;
    margin: 15px;
}
h1 {
    transform: translateY(-50%);
    color: var(--clr-gray);
    display: flex;
    justify-content: center;
    
}
.imagenPokemones { /* imagen logo */
    padding-inline: 1rem;
    display: flex;
    width: 80%;
    max-width: 10rem;
}
name {
    display: flex;
    justify-content: center;
  
}
.typePokemon {
    border-radius: 100vmax;
    display: flex;
    font-size: .75rem;
    justify-content: center;
    padding: .25rem .5rem;
}
.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}
.stats {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
.ver {
    background-color: var(--Type-ver);
    color: var(--clr-black)
}
.normal {
    background-color: var(--Type-normal);
    color: var(--clr-black);
}
.fire {
    background-color: var(--Type-fire);
    color: var(--clr-black)
}
.water {
    background-color: var(--Type-water);
    color: var(--clr-black)
}
.grass {
    background-color: var(--Type-grass);
    color: var(--clr-black)
}
.electric {
    background-color: var(--Type-electric);
    color: var(--clr-black)
}
.ice {
    background-color: var(--Type-ice);
    color: var(--clr-black)
}
.fighting {
    background-color: var(--Type-fighting);
    color: var(--clr-black)
}
.poison {
    background-color: var(--Type-poison);
    color: var(--clr-black)
}
.ground {
    background-color: var(--Type-ground);
    color: var(--clr-black)
}
.flying {
    background-color: var(--Type-flying);
    color: var(--clr-black)
}
.psychic {
    background-color: var(--Type-psychic);
    color: var(--clr-black)
}
.bug {
    background-color: var(--Type-bug);
    color: var(--clr-black)
}
.rock {
    background-color: var(--Type-rock);
    color: var(--clr-black)
}
.ghost {
    background-color: var(--Type-ghost);
    color: var(--clr-black)
}
.dark {
    background-color: var(--Type-dark);
    color: var(--clr-black)
}
.dragon {
    background-color: var(--Type-dragon);
    color: var(--clr-black)
}
.steel {
    background-color: var(--Type-steel);
    color: var(--clr-black)
}
.fairy {
    background-color: var(--Type-fairy);
    color: var(--clr-black)
}